
.MessageComposer {
  display: flex;
  flex-direction: column;
  width: CALC(100% - 20px);
  /*padding:  0.5em;*/
  /*padding: 1rem 0.5rem 1rem 1rem;*/
  /*border-top: 1px solid #ccd0d5;*/
  box-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
  border-radius: 20px;
  margin: 10px 10px 20px 10px;
  background: #fff;
}

.MessageComposer form {
  display: grid;
  width: 100%;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 100%;
  grid-gap: 5px;
}

.MessageComposer .Uploaders {
  flex: 0 0 auto;
  display: flex;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.MessageComposer form textarea[type="text"] {
  flex: 1 1 auto;
  display: block;
  width: 100%;
  min-width: 0;
  /*padding: 0.6rem 1.2rem;*/
  border: 1px solid #ccd0d5;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.MessageComposer form button {
  flex: 0 0 auto;
  background: none;
  border: none;
  cursor: pointer;
}

.footerItem {
  --inner-padding-end: 6px;
  --padding-start: 6px;
}

.chatBox {
  padding-top: 0;
  padding-bottom: 0;
}

.androidTextarea {
  --padding-top: 10px;
  --padding-left: 0;
  --padding-start: 0;
}

.iosTextarea {
  --padding-top: 15px;
  --padding-left: 0;
  --padding-start: 0;
}

ion-button {
  width: 39px;
  height: 38px;
  --border-radius: 42px;
}

