<ion-content>
  <div class="flex">
    <ion-card>
      <ion-item>
        <ion-icon name="close" mode="ios" slot="end" (click)="closeModal()"></ion-icon>
      </ion-item>
      <p class="ion-text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, nemo! Eveniet
        distinctio alias repellendus recusandae neque. Enim fugit cum deleniti perspiciatis dignissimos voluptas
        provident ad. Assumenda rerum suscipit quasi iusto!</p>
      <p class="ion-text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, nemo! Eveniet
        distinctio alias repellendus recusandae neque. Enim fugit cum deleniti perspiciatis dignissimos voluptas
        provident ad. Assumenda rerum suscipit quasi iusto!</p>
      <p class="ion-text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, nemo! Eveniet
        distinctio alias repellendus recusandae neque. Enim fugit cum deleniti perspiciatis dignissimos voluptas
        provident ad. Assumenda rerum suscipit quasi iusto!</p>
    </ion-card>
  </div>
</ion-content>