<ion-content fullscreen class="ion-padding" scroll-y="false">
    <video class="fade-in" playsinline loop muted id="backgroundVideo" style="background-image:url('assets/images/test5-0.jpg');">
      <source src="assets/videos/test5.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="logincontent">
      <ion-img src="assets/images/autum/blackTextRedLeaf.png" style="z-index:100;margin-bottom:10px;"></ion-img>
      <div>
        <ion-text>
          <h1 style="color:#fff;font-size:27px;font-style:italic;margin-bottom:100px;position:relative;text-align:center">
            Dating Without <br> The Bullsh*t
          </h1>
        </ion-text>
      </div>

      <ion-button expand="round" color="light" fill="solid" (click)="loginWithPhone()">
        <small style="text-transform:uppercase;font-size:revert;">Login with Phone</small>
      </ion-button>
      <!--
      <ion-button style="text-transform:uppercase;font-size:revert;" disabled class="ion-button-tiktok" background="dark" (click)="loginWithTiktok()" expand="round">
        <small> TikTok Login <br> Coming Soon!</small>
      </ion-button>
        -->
    <!--   <div style="margin-top:30px;color:#FFF;"class="medium">
        <p class="ion-no-margin" (click)="goToSignup()"><u>Sign Up</u></p>
      </div>
      <div style="margin-top:30px;color:#FFF;"class="medium">
        <p class="ion-no-margin" (click)="gotAccountRecovery()"><u>Trouble Logging In?</u></p>
      </div>
    </div>
    <div style="margin-top:25px">
      <div>
        <p style="margin-bottom:10px;font-size:9px"class="ion-text-center">By tapping Login,you agree with our <u> Terms of Services </u> and
          <u> Privacy
            Policy</u></p>
      </div> -->
    </div>
  </ion-content>

