<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">

    <div *ngFor="let item of emailData;let i= index">
      <ion-item *ngIf="item.para" class="paragraphItem">
        <ion-label>
          <p class="ion-text-wrap ion-padding-bottom">{{item.para}}</p>
          <h3>{{item.para2}}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf=" item.head">
        <ion-toggle slot="end" class="colorToggle" *ngIf="item.toggle"></ion-toggle>
        <ion-icon slot="end" name="alert" *ngIf="!item.toggle" color="danger"></ion-icon>
        <ion-label>
          <ion-text class="ion-text-capitalize">{{item.head}}</ion-text>
          <p *ngIf="item.des" text-wrap>{{item.des}}</p>
        </ion-label>
      </ion-item>
      <div *ngIf="item.email">
        <ion-item>
          <ion-toggle slot="end" class="colorToggle" *ngIf="item.toggle"></ion-toggle>
          <ion-icon slot="end" name="alert" *ngIf="!item.toggle" color="danger"></ion-icon>
          <ion-input type="text" [(ngModel)]="item.email" *ngIf="item.email"></ion-input>
          <!-- <ion-text class="ion-text-capitalize">{{item.email}}</ion-text> -->
        </ion-item>
        <p *ngIf="item.emailDesc" class="emailPara ion-text-wrap ion-padding-horizontal ion-no-margin">
          {{item.emailDesc}}</p>
        <ion-item class="ion-margin-bottom">
          <ion-button expand="block" fill="clear" color="danger" class="full"> Send verification email</ion-button>
        </ion-item>
      </div>

    </div>
    <ion-item>
      <ion-button expand="block" fill="clear" color="dark" class="full"> Send verification email</ion-button>

      <!-- <div class="full">
          <ion-button expand="full" color="light"> Unsubscribe from all</ion-button>
        </div> -->
    </ion-item>

  </ion-list>
</ion-content>