
.backGray {
    ion-item {
        --background: #fff;
        --inner-border-width: 0 0 0px 0;
        p {
            margin-top: 0;
            color: #989aa2;
            font-size: 12px;
        }
    }
    ion-list-header {
        --background: #fff;
        color: #424242d6;
        font-size: 12px;
        font-weight: bold;
    }
}
ion-list {
    padding-bottom: 0 !important;
}
ion-content {
    --background: #fff;


.ion-chip{
background: var(--ion-color-autum-purple)!important;
border:#fff;
color:white;
font-size:12px;
font-weight:200;
margin-right:5px;
padding:4px 8px;

}
}
