<ion-content fullscreen class="fade-in ion-padding" scroll-y="true">

    <div class="overlay"></div>
    <div class="logincontent">
        <img ng-cloak class="ng-cloak center-image" src="assets/images/logo-w.svg">
        <ion-item  color="transparent" lines="none">
            <div>
                <h1 style="text-align:center!important;font-size:30px;color:white;" class="ion-text-start">Welcome to <br> Autum</h1>
            </div>
        </ion-item>
        <ion-item  color="transparent" lines="none">
            <ion-label>
                <div class="sameLineContent">
                    <h3 style="text-align:center!important;color:white;" class="ion-text-start">A dating app without the bullsh*t</h3>
                </div>
            </ion-label>
        </ion-item>

        <ion-item  color="transparent" lines="none">
            <ion-label>
                <div style="white-space:pre-line" class="sameLineContent">
                    <h3 style="text-align:center!important;color:white;" class="ion-text-start">Increase your chance of meeting someone face to face by 1000%</h3>
                </div>
            </ion-label>
        </ion-item>
    <br>
        <div class="parent">
            <div class="div1">
                <ion-item color="transparent"  lines="none">
                    <ion-label>
                        <div class="sameLineContent">
                            <ion-icon class="big" style="color:white;" slot="start" src="/assets/icon/swipe.svg" expand="icon-only" mode="ios"></ion-icon>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
            <div class="div2">
                <ion-item color="transparent"  lines="none">
                    <ion-label>
                        <div class="sameLineContent">
                            <h2 style="font-weight:bold;color:white;" >Unlimited Likes</h2>
                            <h4 style="color:white;" >Browse through <br>
                                unlimited profiles </h4>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
            <div class="div3">
                <ion-item color="transparent"  lines="none">
                    <ion-label>
                        <div class="sameLineContent">
                            <ion-icon class="big" style="color:white; font-size:20px;" slot="start" name="heart" expand="icon-only" mode="ios"></ion-icon>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
            <div class="div4">
                <ion-item color="transparent"  lines="none">
                    <ion-label>
                        <div class="sameLineContent">
                            <h2 style="font-weight:bold;color:white;" >Focused Dating</h2>
                            <h4 style="color:white;" >Match with 3 <br>
                                people at a time</h4>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
            <div class="div5">
                <ion-item color="transparent"  lines="none">
                    <ion-label>
                        <div class="sameLineContent">
                            <ion-icon class="big" style="color:white;" slot="start" src="/assets/icon/wave.svg" expand="icon-only" mode="ios"></ion-icon>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
            <div class="div6">
                <ion-item color="transparent"  lines="none">
                    <ion-label>
                        <div class="sameLineContent">
                            <h2 style="font-weight:bold;color:white;" >No Ghosting</h2>
                            <h4 style="color:white;" >End a conversation <br>
                                to keep browsing</h4>
                        </div>
                    </ion-label>
                </ion-item>
            </div>
        </div>
        <div style="margin-top:10px">
            <ion-button (click)="goToLogin()" style="font-weight:normal;text-transform:inherit;width:122px;margin-top:10px" shape=round color="light"> Continue</ion-button>
        </div>
    </div>
</ion-content>

