
.verified {
    color: gray;
    font-size: 13px;
    margin-top: 0;
}
ion-list-header {
    font-weight: bold;
    color: #424242;
}
ion-content {
    --background: white !important;
}
ion-item {
  --inner-border-width: 0 0 0px 0 !important;
}
.inputDiv {
  display: flex;
  align-items: center;
}
ion-select {
  --padding-start: 0px !important;
  max-width: 100% !important;
  align-items: center !important;
}
.policyText {
  font-size: 9px;
  padding: 30px 0 18px 0px;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  ion-button {
    max-width: 250px;
    min-width: 220px;
    width: 250px;
    height: 36px;
    //   --background: linear-gradient(to right, rgb(233, 30, 99), rgb(255, 138, 101));
    //   --background-focused: linear-gradient(to right, rgb(233, 30, 99), rgb(255, 138, 101));
  }
  p {
    margin-top: 0;
    margin-bottom: 26px;
  }
}