<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="privacy ion-padding-bottom">
    <p class="dark ion-text-center">Account Recovery</p>
    <p class="medium ion-text-center">Can't get into your account? No worries! Just send us an email at autum@fallinlove.app and we'll be happy to help.</p>
  </div>
  <div class="buttonsDiv">
    <ion-button expand="round" (click)="loginWithEmail()">login in with email
    </ion-button>
  </div>
</ion-content>